# Initial EDA

In this notebook we explore the preprocessed data tables

In [9]:
# Load the "autoreload" extension
%load_ext autoreload
%autoreload 2

import sys
import os
import numpy as np
import pandas as pd
import matplotlib
%matplotlib inline
#%matplotlib notebook
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.style.use('ggplot')

# add the 'src' directory as one where we can import modules
src_dir = os.path.join(os.getcwd(), os.pardir, 'src')
sys.path.append(src_dir)

# self written packages
from data.preprocessing import preprocess
from data import data_utils

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Read files from directory of processed data tables

In [26]:
dfs = data_utils.read_csv_from_dir(dir_name="processed")
print("We have {} tables".format(len(dfs)))

We have 11 tables

## Head all 11 tables:

In [22]:
dfs[0].head()

,index,T:concept:name,E:amount,E:concept:name,E:lifecycle:transition,E:time:timestamp
0,5,A100,71.5,Add penalty,complete,3/16/07 12:00 AM
1,10,A10000,74.0,Add penalty,complete,10/1/07 12:00 AM
2,16,A10001,74.0,Add penalty,complete,9/23/07 12:00 AM
3,21,A10004,74.0,Add penalty,complete,9/22/07 12:00 AM
4,30,A10008,74.0,Add penalty,complete,10/1/07 12:00 AM

In [24]:
dfs[1].head()

,index,T:concept:name,E:concept:name,E:dismissal,E:lifecycle:transition,E:time:timestamp
0,5342,A12414,Appeal to Judge,G,complete,1/21/08 12:00 AM
1,12393,A1582,Appeal to Judge,G,complete,4/24/07 12:00 AM
2,25651,A22043,Appeal to Judge,G,complete,10/24/08 12:00 AM
3,35233,A26902,Appeal to Judge,G,complete,3/13/09 12:00 AM
4,38909,A28691,Appeal to Judge,G,complete,3/12/09 12:00 AM

In [25]:
dfs[2].head()

,index,T:concept:name,E:amount,E:article,E:concept:name,E:dismissal,E:lifecycle:transition,E:org:resource,E:points,E:time:timestamp,E:vehicleClass
0,10518,A14957,36.0,157.0,Create Fine,N,complete,562.0,0.0,6/5/07 12:00 AM,A
1,10694,A15048,36.0,157.0,Create Fine,K,complete,563.0,0.0,6/17/07 12:00 AM,A
2,14895,A17052,36.0,157.0,Create Fine,5,complete,537.0,0.0,7/31/07 12:00 AM,A
3,20528,A19730,36.0,7.0,Create Fine,5,complete,556.0,0.0,7/26/07 12:00 AM,A
4,20918,A19915,36.0,7.0,Create Fine,5,complete,564.0,0.0,7/28/07 12:00 AM,A

In [29]:
dfs[3].head()

,index,T:concept:name,E:concept:name,E:lifecycle:transition,E:time:timestamp
0,15,A10001,Insert Date Appeal to Prefecture,complete,8/2/07 12:00 AM
1,262,A10102,Insert Date Appeal to Prefecture,complete,9/10/07 12:00 AM
2,274,A10107,Insert Date Appeal to Prefecture,complete,7/27/07 12:00 AM
3,317,A10125,Insert Date Appeal to Prefecture,complete,8/1/07 12:00 AM
4,572,A10236,Insert Date Appeal to Prefecture,complete,8/9/07 12:00 AM

In [30]:
dfs[4].head()

,index,T:concept:name,E:concept:name,E:lastSent,E:lifecycle:transition,E:notificationType,E:time:timestamp
0,4,A100,Insert Fine Notification,P,complete,P,1/15/07 12:00 AM
1,9,A10000,Insert Fine Notification,P,complete,P,8/2/07 12:00 AM
2,14,A10001,Insert Fine Notification,P,complete,P,7/25/07 12:00 AM
3,20,A10004,Insert Fine Notification,P,complete,P,7/24/07 12:00 AM
4,29,A10008,Insert Fine Notification,P,complete,P,8/2/07 12:00 AM

In [31]:
dfs[5].head()

,index,T:concept:name,E:concept:name,E:lifecycle:transition,E:time:timestamp
0,603,A10249,Notify Result Appeal to Offender,complete,1/25/08 12:00 AM
1,784,A10338,Notify Result Appeal to Offender,complete,10/31/07 12:00 AM
2,1430,A10619,Notify Result Appeal to Offender,complete,11/16/07 12:00 AM
3,1946,A10858,Notify Result Appeal to Offender,complete,6/24/08 12:00 AM
4,4529,A12027,Notify Result Appeal to Offender,complete,1/25/08 12:00 AM

In [33]:
dfs[6].head()

,index,T:concept:name,E:concept:name,E:lifecycle:transition,E:paymentAmount,E:time:timestamp,E:totalPaymentAmount
0,11,A10000,Payment,complete,87.0,9/9/08 12:00 AM,87.0
1,24,A10005,Payment,complete,36.0,3/21/07 12:00 AM,36.0
2,26,A10007,Payment,complete,36.0,3/23/07 12:00 AM,36.0
3,36,A10009,Payment,complete,35.0,10/1/07 12:00 AM,35.0
4,37,A10009,Payment,complete,22.0,10/31/07 12:00 AM,57.0

In [34]:
dfs[7].head()

,index,T:concept:name,E:concept:name,E:lifecycle:transition,E:time:timestamp
0,602,A10249,Receive Result Appeal from Prefecture,complete,1/22/08 12:00 AM
1,783,A10338,Receive Result Appeal from Prefecture,complete,10/23/07 12:00 AM
2,1429,A10619,Receive Result Appeal from Prefecture,complete,11/12/07 12:00 AM
3,1945,A10858,Receive Result Appeal from Prefecture,complete,5/28/08 12:00 AM
4,4528,A12027,Receive Result Appeal from Prefecture,complete,1/21/08 12:00 AM

In [35]:
dfs[8].head()

,index,T:concept:name,E:concept:name,E:dismissal,E:lifecycle:transition,E:time:timestamp
0,17,A10001,Send Appeal to Prefecture,#,complete,9/24/07 12:00 AM
1,263,A10102,Send Appeal to Prefecture,#,complete,10/25/07 12:00 AM
2,276,A10107,Send Appeal to Prefecture,#,complete,9/24/07 12:00 AM
3,574,A10236,Send Appeal to Prefecture,#,complete,10/2/07 12:00 AM
4,917,A10411,Send Appeal to Prefecture,#,complete,10/30/07 12:00 AM

In [36]:
dfs[9].head()

,index,T:concept:name,E:concept:name,E:expense,E:lifecycle:transition,E:time:timestamp
0,1,A1,Send Fine,11.0,complete,12/5/06 12:00 AM
1,3,A100,Send Fine,11.0,complete,12/12/06 12:00 AM
2,8,A10000,Send Fine,13.0,complete,7/17/07 12:00 AM
3,13,A10001,Send Fine,13.0,complete,7/17/07 12:00 AM
4,19,A10004,Send Fine,13.0,complete,7/17/07 12:00 AM

In [37]:
dfs[10].head()

,index,T:concept:name,E:concept:name,E:lifecycle:transition,E:time:timestamp
0,6,A100,Send for Credit Collection,complete,3/30/09 12:00 AM
1,22,A10004,Send for Credit Collection,complete,3/30/09 12:00 AM
2,31,A10008,Send for Credit Collection,complete,3/30/09 12:00 AM
3,42,A1001,Send for Credit Collection,complete,3/30/09 12:00 AM
4,47,A10010,Send for Credit Collection,complete,3/30/09 12:00 AM