# Initial EDA

In this notebook we explore the preprocessed data tables

In [5]:
# Load the "autoreload" extension
%load_ext autoreload
%autoreload 2

import sys
import os
import numpy as np
import pandas as pd
import matplotlib
%matplotlib inline
#%matplotlib notebook
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.style.use('ggplot')

# add the 'src' directory as one where we can import modules
src_dir = os.path.abspath(os.path.join(os.getcwd(), os.pardir, 'src'))
sys.path.append(src_dir)

# self written packages
from data import data_utils
from data.preprocessing import preprocess

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Read files from directory of processed data tables

In [3]:
dfs = data_utils.read_csv_from_dir(dir_name="processed")
print("We have {} tables".format(len(dfs)))

[autoreload of data.preprocessing failed: Traceback (most recent call last):
  File "/Users/moritz/anaconda/envs/dm/lib/python3.5/site-packages/IPython/extensions/autoreload.py", line 246, in check
    superreload(m, reload, self.old_objects)
  File "/Users/moritz/anaconda/envs/dm/lib/python3.5/site-packages/IPython/extensions/autoreload.py", line 369, in superreload
    module = reload(module)
  File "/Users/moritz/anaconda/envs/dm/lib/python3.5/imp.py", line 315, in reload
    return importlib.reload(module)
  File "/Users/moritz/anaconda/envs/dm/lib/python3.5/importlib/__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 626, in _exec
  File "<frozen importlib._bootstrap_external>", line 697, in exec_module
  File "<frozen importlib._bootstrap>", line 222, in _call_with_frames_removed
  File "/Users/moritz/Desktop/BI2/bi2_project2/src/data/preprocessing.py", line 8, in <module>
    import data_utils
ImportError: No module named 'data_utils'
]

We have 11 tables

## Head all 11 tables:

In [41]:
##
# All create_fine events
##
create_fine_activities_RAW = dfs[3]
create_fine_uid = set(create_fine_activities_RAW["T:concept:name"])
len(create_fine_uid)

150370

In [42]:
##
# All send_fine events
##
send_fine_activities_RAW = dfs[2]
send_fine_uid = set(send_fine_activities_RAW["T:concept:name"])
len(send_fine_uid)

103987

In [43]:
##
# All cases which go directly from create_fine to payment
##
direct_payment_uid = create_fine_uid - send_fine_uid
len(direct_payment_uid)

46383

In [37]:
##
# All send_for_credit_collection events
##
send_for_credit_collection_activities_RAW = dfs[5]
send_for_credit_collection_uid = set(send_for_credit_collection_activities_RAW["T:concept:name"])
len(send_for_credit_collection_uid)

59013

In [63]:
##
# All cases which consist only of the two events
#   1) create_fine
#   2) payment
##

# INTERESTING: Apparently do all cases which go directly from create_fine to payment stop at
# payment. This means that there are no cases where a fine is created and too little is paid
# because this would result 

filtered_create_fine_to_payment = direct_payment_uid - send_for_credit_collection_uid

In [65]:
##
# get all create_fine_cases contained in "filtered_create_fine_to_payment"
##
clean_cases = create_fine_activities_RAW.set_index("T:concept:name").loc[list(filtered_create_fine_to_payment),:]
clean_cases.reset_index(inplace=True)
clean_cases.head()

,T:concept:name,index,E:amount,E:article,E:concept:name,E:dismissal,E:lifecycle:transition,E:org:resource,E:points,E:time:timestamp,E:vehicleClass
0,N47426,174207,33.6,157.0,Create Fine,NIL,complete,536.0,0.0,2/13/03 12:00 AM,A
1,S155716,376330,38.0,7.0,Create Fine,NIL,complete,41.0,0.0,7/23/10 12:00 AM,A
2,A4781,72379,21.0,7.0,Create Fine,NIL,complete,559.0,0.0,10/18/06 12:00 AM,A
3,N59171,194962,33.6,157.0,Create Fine,NIL,complete,552.0,0.0,7/24/04 12:00 AM,A
4,N88746,250811,35.0,157.0,Create Fine,NIL,complete,538.0,0.0,1/15/06 12:00 AM,A